[package]
name = "strathweb-phi-engine"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
thiserror = "1.0"
uniffi = { version = "0.27.1", features=["build"] }
anyhow = "1.0.81"
candle-core = { version = "0.5.1" }
candle-nn = { version = "0.5.1" }
candle-transformers = { version = "0.5.1" }
hf-hub = { version = "0.3.2", features = ["tokio"] }
tokenizers = "0.15.2"

[build-dependencies]
uniffi = { version = "0.27.1", features=["build"] }
uniffi_build = "0.27.1"
uniffi_bindgen = "0.27.1"